body,
html {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 0.75rem;
}

header {
  width: 100%;
  margin-bottom: 0px;
}

footer {
  font-family: "Lato", "Arial", sans-serif;
  color: #e0e0e0;
}

.navigation {
  height: 63px;
  padding-top: 8.3px;
  background-color: #323232;  
}

.menu {
  position: relative;
  min-width: 500px;
  margin: 0 auto;  
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin-left: 36px;
  margin-right: 32px;
  /* width: 70px; */
}

.menu-item.menu-item.margin {
  margin-right: -16px;
}

.menu-item a {
  padding: 0 0px;

  font-size: 0.6275rem;
  font-weight: bold;
  color: #ffffff; 
  text-transform: uppercase;  
  text-decoration: none;
}

.menu-item.margin {
  margin-right: 30px;
}

.logo {
  position: relative;
  top: 1px;
  left: 1px;

  display: inline-block;
  width: 64px;
  height: 55px;
  margin-left: 0px;
  margin-right: 0px;

  overflow: hidden;
  vertical-align: middle;
}

.menu-item a:hover,
.menu-item a:active,
.menu-item .active a {
  color: #2f9f88;
}

a[data-active] {
  color: #2f9f88;
}

.menu:before {  
  position: absolute;
  top: 99%;
  left: 50%;

  content: "";
  width: 0;
  height: 0;
  margin-left: -45px;

  border-style: solid;
  border-width: 26px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
  /* -webkit-transform: scale(0.99999);
-ms-transform: scale(0.99999);
transform: scale(0.99999);  */
}

/* section hexagon-container*/

.hexagon-container {
  position: relative;
  height: 710px;
  top: 191px;
  left: 50%;

  margin-bottom: 121px; 
  margin-left: -506px;
  /* margin-top: 150px; */
}

.row {
  min-width: 1000px;
  font-size: 0;
}

.row-native {
  margin-left: 107px;
}

.row-translate .hexagon {
  position: relative;
  top: -55px;
  left: 7px;
}

.row-native:not(.first-child) {
  position: relative;
  top: 0px;

  margin-top: -110px;  
}

.hexagon {
  display: inline-block;
  width: 180px;
  height: 210px;
  margin: 7px 10px;
  
  font-size: 0;

  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  /* transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1); */
}

.hex-layer-1 {
  width: 100%;
  height: 100%;

  transform: rotate(-60deg);
  overflow: hidden;
  visibility: hidden;
}

.hex-layer-2 {
  width: 100%;
  height: 100%;

  transform: rotate(-60deg);
  overflow: hidden;
  /* background: url(/assets/images/Layer\ 31.png); */
  background-repeat: no-repeat;
  background-position: 50%;
  visibility: visible;
}

.hex-layer-2.img1 {
  background: url(../assets/images/Layer\ 33.png);
}

.hex-layer-2.img2 {
  background: url(../assets/images/Layer\ 31.png);
}

.hex-layer-2.img3 {
  background: url(../assets/images/Layer\ 34.png);
}

.hex-layer-2.img4 {
  background: url(../assets/images/Layer\ 35.png);
  background-position-x: -20px;
  background-position-y: -15px;
}

.hex-layer-2.img5 {
  background: url(../assets/images/Layer\ 36.png);
}

.hex-layer-2.img6 {
  background: url(../assets/images/Layer\ 44.png);
}

.hex-layer-2.img7 {
  background: url(../assets/images/Layer\ 37.png);
}

.hex-layer-2.img8 {
  background: url(../assets/images/Layer\ 38.png);
}

.hex-layer-2.img9 {
  background: url(../assets/images/Layer\ 39.png);
}

.hex-layer-2.img10 {
  background: url(../assets/images/Layer\ 40.png);
}

.hex-layer-2.img11 {
  background: url(../assets/images/Layer\ 41.png);
  background-position-x: -20px;
  background-position-y: -8px;
}

.hex-layer-2.img12 {
  background: url(../assets/images/Layer\ 43.png);
}

.hex-layer-2.img13 {
  background: url(../assets/images/Layer\ 42.png);
}

.hex-layer-2:hover {
  transform: rotate(-240deg);
}

.hex-layer-2.image:hover {
  transform: rotate(-60deg);
}


/* section  info*/

.info {
  height: 341px;
  background-color: #2eb398; 
}

.article {
  /*font-size: 2rem;*/
  width: 800px;
  margin: 0 auto;
  font-family: "Maven Pro", "Arial", sans-serif;  
}

.foto {
  position: relative;
  top: 58px;
}

.image {
  background: url(../assets/images/image.png);
  background-position-x: -120px;
  background-position-y: 2px;
}

.about-person {
  display: inline-block;
  width: 581px;
}

.about-person h1 {
  position: relative;
  top: -18px;
  left: 5px;

  padding: 0;
  padding-bottom: 5px;

  font-size: 1.875rem;
  letter-spacing: 0px;
  color: #d7fcf5;
  
}

.about-person p {
  position: relative;
  top: -16px;
  left: 8px;

  margin: 0;

  font-size: 0.74rem;
  line-height: 1.83;  
  font-family: "Lato", "Arial", sans-serif;
  text-align: justify;
  color: #d7fcf5;
}

p.description {
  position: relative;
  top: -26px;
  left: 8px;

  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 1.5;
  text-align: justify;
  color: #248f79;
}

.social-media li {
  position: relative;
  top: 22px;
  left: 646px;

  display: inline-block;
  
  text-align: right;
}

.social-media li:first-child {
  margin-left: 0;
}

.icons {
  width: 25px;
  height: 24px;
  padding: 2px;
  margin-left: -6px;
  
  color: #2eb398;

  background: #a5dbd4;
  text-decoration: none;
}

.icons:hover {
  background: #dba5cf;
  /*filter:invert(1);*/
}

.twitter,
.dribbble {
  background: #6ccbbe;
}

.gplus {
  background: #7ccfc4;
}


/* footer*/

.footer {
  font-size: 0.75rem;
  color: rgba(190, 190, 190, 1);
  background-color: #323232; 
}

.form-container {
  width: 1020px;
  height: 564px;
  margin-left: auto;
  margin-right: auto;
}

.in-touch-form {
  display: inline-block;
  width: 580px;
  margin-left: 113px;
  margin-top: 61px;
}

.in-touch-form p {
  margin-bottom: 20px;

  font-size: 1.125rem;
  font-family: "Maven Pro", "Arial", sans-serif;
  letter-spacing: 0px;
}

.in-touch-form input {
  width: 580px;
  height: 38px;
  margin-bottom: 16px;
  padding: 15px;

  font-size: 0.675rem;

  background-color: #454545;
  border: none;
}

.in-touch-form input:invalid {
  border: 1px solid red;
}

.in-touch-form textarea {
  width: 580px;
  height: 150px;
  padding-left: 15px;
  padding-top: 15px;
  
  background-color: #454545;
  border: none;
}

.in-touch-form legend {
  margin-bottom: -5px;

  font-size: 1.73rem;
  font-family: "Maven Pro", "Arial", sans-serif;
  color: rgba(224, 224, 224, 1);
  letter-spacing: 1px;  
}

.in-touch-form fieldset {
  display: block;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.personal-info {
  display: inline-block;
  width: 180px;
  margin-left: 26px;
  margin-top: 128px;

  line-height: 1.375rem;
  vertical-align: top;
}

.personal-info strong {
  color: rgba(224, 224, 224, 1);
}

.personal-info p {
  margin-bottom: 33px;
  text-align: justify;
}

.personal-info a {
  display: block;
  margin-bottom: -10px;
  margin-left: 2px;

  color: rgba(190, 190, 190, 1);
  text-decoration: none;
}

.personal-info a:hover {
  text-decoration: underline;
}

.icon-location {
  padding-left: 20px;
  background: url(../assets/images/location.png) no-repeat 0% 50%;
}

.icon-telephone {
  margin-top: 0.625rem;
  padding-left: 20px;
  
  background: url(../assets/images/phone.png) no-repeat 0% 50%;
}

.icon-email {
  margin-top: 0.625rem;
  padding-left: 20px;
  
  background: url(../assets/images/mail.png) no-repeat 0% 50%;
}

.button-submit {
  width: 92px;
  height: 36px;
  margin-top: 7px;
  margin-left: 496px;
  padding: 5px;

  font-size: 10px;
  font-weight: bold; 
  color: #b4eadf;

  background-color: #2eb398;
  border: none;
  text-transform: uppercase;
}

.button-submit:hover {
  filter: drop-shadow(2px 2px 3px rgba(241, 215, 231, 0.5));
}

.bottom {
  width: 100%;
  height: 43px;

  background-color: #222222;  
}

.bottom p {
  /* margin:0 826px 15px 39px;*/
  width: 1020px;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 40px;
  
  font-size: 8.65655pt;
  text-align: justify;
  color: rgba(69, 69, 69, 1);

}